@function px2rem($px, $base-font-size: 75px) {
    @if (unitless($px)) {
        @warn "Assuming #{$px} to be in pixels, attempting to convert it into pixels for you";
        @return px2rem($px + 0px); // That may fail.
    } @else if (unit($px) == rem) {
        @return $px;
    }
    @return ($px / $base-font-size) * 1rem;
}
/* font-size px*/
@mixin font-dpr($font-size){
    font-size: $font-size;

    [data-dpr="2"] & {
        font-size: $font-size * 2;
    }

    [data-dpr="3"] & {
        font-size: $font-size * 3;
    }
}
body {
    width: px2rem(750px);
    height: px2rem(1334px);
    background-size: px2rem(750px) px2rem(1334px);
    background-repeat: no-repeat;
}
.blank-page {
    height: 100%;
    width: 100%;
    padding-top: px2rem(74px);
    .blank-icon {
        margin: px2rem(0px) auto;
    }
    .blank-text {
        margin-top: px2rem(37px);
        color: #999999;
        @include font-dpr(14px);
        text-align: center;
    }
}
.loading-page {
    width: 100%;
    height: 100%;
    position: relative;
}
.loading {
    &.center {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    background-image: url("../images/gif/loading.gif");
    background-size: px2rem(40px) px2rem(40px);
    background-repeat: no-repeat;
    width: px2rem(40px);
    height: px2rem(40px);
    transform: translate(50%,50%);
}