html {
  height: 100%; }
  html body {
    width: 100%;
    max-width: 750px !important;
    margin: 0 auto;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1; }
  .wrapper section {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center bottom; }
  .wrapper .section-1 {
    z-index: 2;
    background-image: url(../images/page-1-bg.jpg); }
  .wrapper .section-2 {
    z-index: 1;
    background-image: url(../images/page-2-bg.jpg); }

.text-title {
  width: 512px;
  height: 278px;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 60px;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }
  .text-title .text-1 {
    position: relative;
    width: 512px;
    height: 230px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-image: url(../images/text-1.png);
    -webkit-background-size: 512px 230px;
    background-size: 512px 230px;
    opacity: 0;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom; }
  .text-title .text-2 {
    position: relative;
    width: 512px;
    height: 48px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-image: url(../images/text-2.png);
    -webkit-background-size: 512px 48px;
    background-size: 512px 48px;
    opacity: 0;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom; }

.box-wrap {
  width: 581px;
  height: 504px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }
  .box-wrap .page-box-1 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }
    .box-wrap .page-box-1 .box-1 {
      position: absolute;
      bottom: 1000px;
      left: 50%;
      opacity: 0;
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      width: 314px;
      height: 344px;
      background-position: center bottom;
      background-repeat: no-repeat;
      background-image: url(../images/box-1.png);
      -webkit-background-size: 314px 344px;
      background-size: 314px 344px; }
      .box-wrap .page-box-1 .box-1.shake {
        -webkit-animation: shake 1s infinite;
        animation: shake 1s infinite; }
    .box-wrap .page-box-1 .box-1-sd {
      position: absolute;
      bottom: 0;
      left: 50%;
      display: none;
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      width: 477px;
      height: 115px;
      background-position: center bottom;
      background-repeat: no-repeat;
      background-image: url(../images/box-1-sd.png);
      -webkit-background-size: 477px 115px;
      background-size: 477px 115px; }
  .box-wrap .page-box-2 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-image: url(../images/box-2.png);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%; }
    .box-wrap .page-box-2 .box-top {
      width: 330px;
      height: 330px;
      position: absolute;
      left: 116px;
      top: 40px;
      -webkit-transform: rotate(-40deg);
      transform: rotate(-40deg); }
      .box-wrap .page-box-2 .box-top.shadow {
        background-position: center bottom;
        background-repeat: no-repeat;
        background-image: url(../images/box-top-sd.png);
        -webkit-background-size: 330px 330px;
        background-size: 330px 330px; }
      .box-wrap .page-box-2 .box-top .box-top-main {
        width: 100%;
        height: 100%;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-image: url(../images/box-top.png);
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%; }
    .box-wrap .page-box-2 .ribbon-wrap {
      width: 100px;
      height: 100px;
      position: relative;
      margin: 80px auto 0; }
      .box-wrap .page-box-2 .ribbon-wrap .ribbon {
        position: absolute;
        left: 0;
        bottom: 0;
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
        z-index: 1; }
        .box-wrap .page-box-2 .ribbon-wrap .ribbon.ribbon-1 {
          width: 129px;
          height: 300px;
          background-image: url(../images/ribbon-1.png);
          z-index: 2; }
        .box-wrap .page-box-2 .ribbon-wrap .ribbon.ribbon-2 {
          width: 92px;
          height: 181px;
          background-image: url(../images/ribbon-2.png); }
        .box-wrap .page-box-2 .ribbon-wrap .ribbon.ribbon-3 {
          width: 134px;
          height: 93px;
          background-image: url(../images/ribbon-3.png); }
        .box-wrap .page-box-2 .ribbon-wrap .ribbon.ribbon-4 {
          width: 106px;
          height: 179px;
          background-image: url(../images/ribbon-4.png); }
        .box-wrap .page-box-2 .ribbon-wrap .ribbon.ribbon-5 {
          width: 236px;
          height: 265px;
          background-image: url(../images/ribbon-5.png); }
        .box-wrap .page-box-2 .ribbon-wrap .ribbon.ribbon-6 {
          width: 49px;
          height: 49px;
          background-image: url(../images/ribbon-6.png); }
        .box-wrap .page-box-2 .ribbon-wrap .ribbon.ribbon-7 {
          width: 30px;
          height: 29px;
          background-image: url(../images/ribbon-7.png); }
        .box-wrap .page-box-2 .ribbon-wrap .ribbon.ribbon-8 {
          width: 76px;
          height: 59px;
          background-image: url(../images/ribbon-8.png); }
        .box-wrap .page-box-2 .ribbon-wrap .ribbon.ribbon-9 {
          width: 17px;
          height: 18px;
          background-image: url(../images/ribbon-9.png); }
        .box-wrap .page-box-2 .ribbon-wrap .ribbon.ribbon-10 {
          width: 18px;
          height: 18px;
          background-image: url(../images/ribbon-10.png); }
        .box-wrap .page-box-2 .ribbon-wrap .ribbon.ribbon-11 {
          width: 20px;
          height: 22px;
          background-image: url(../images/ribbon-11.png); }
        .box-wrap .page-box-2 .ribbon-wrap .ribbon.ribbon-12 {
          width: 26px;
          height: 31px;
          background-image: url(../images/ribbon-12.png); }
        .box-wrap .page-box-2 .ribbon-wrap .ribbon.ribbon-13 {
          width: 24px;
          height: 37px;
          background-image: url(../images/ribbon-13.png); }
        .box-wrap .page-box-2 .ribbon-wrap .ribbon.ribbon-14 {
          width: 25px;
          height: 33px;
          background-image: url(../images/ribbon-14.png); }
        .box-wrap .page-box-2 .ribbon-wrap .ribbon.ribbon-15 {
          width: 29px;
          height: 29px;
          background-image: url(../images/ribbon-15.png); }
        .box-wrap .page-box-2 .ribbon-wrap .ribbon.ribbon-16 {
          width: 19px;
          height: 34px;
          background-image: url(../images/ribbon-16.png); }
        .box-wrap .page-box-2 .ribbon-wrap .ribbon.ribbon-17 {
          width: 33px;
          height: 26px;
          background-image: url(../images/ribbon-17.png); }
        .box-wrap .page-box-2 .ribbon-wrap .ribbon.ribbon-18 {
          width: 19px;
          height: 34px;
          background-image: url(../images/ribbon-18.png); }
        .box-wrap .page-box-2 .ribbon-wrap .ribbon.ribbon-19 {
          width: 20px;
          height: 20px;
          background-image: url(../images/ribbon-19.png); }
        .box-wrap .page-box-2 .ribbon-wrap .ribbon.ribbon-20 {
          width: 28px;
          height: 17px;
          background-image: url(../images/ribbon-20.png); }
        .box-wrap .page-box-2 .ribbon-wrap .ribbon.ribbon-21 {
          width: 35px;
          height: 22px;
          background-image: url(../images/ribbon-21.png); }
        .box-wrap .page-box-2 .ribbon-wrap .ribbon.ribbon-22 {
          width: 34px;
          height: 37px;
          background-image: url(../images/ribbon-22.png); }
        .box-wrap .page-box-2 .ribbon-wrap .ribbon.ribbon-23 {
          width: 21px;
          height: 45px;
          background-image: url(../images/ribbon-23.png); }
        .box-wrap .page-box-2 .ribbon-wrap .ribbon.ribbon-24 {
          width: 13px;
          height: 20px;
          background-image: url(../images/ribbon-24.png); }
        .box-wrap .page-box-2 .ribbon-wrap .ribbon.ribbon-25 {
          width: 20px;
          height: 25px;
          background-image: url(../images/ribbon-25.png); }
        .box-wrap .page-box-2 .ribbon-wrap .ribbon.ribbon-26 {
          width: 16px;
          height: 58px;
          background-image: url(../images/ribbon-26.png); }
        .box-wrap .page-box-2 .ribbon-wrap .ribbon.ribbon-27 {
          width: 44px;
          height: 39px;
          background-image: url(../images/ribbon-27.png); }
        .box-wrap .page-box-2 .ribbon-wrap .ribbon.ribbon-28 {
          width: 30px;
          height: 60px;
          background-image: url(../images/ribbon-28.png); }
        .box-wrap .page-box-2 .ribbon-wrap .ribbon.ribbon-29 {
          width: 57px;
          height: 77px;
          background-image: url(../images/ribbon-29.png); }
        .box-wrap .page-box-2 .ribbon-wrap .ribbon.ribbon-30 {
          width: 12px;
          height: 11px;
          background-image: url(../images/ribbon-30.png); }
        .box-wrap .page-box-2 .ribbon-wrap .ribbon.ribbon-31 {
          width: 27px;
          height: 54px;
          background-image: url(../images/ribbon-31.png); }
        .box-wrap .page-box-2 .ribbon-wrap .ribbon.ribbon-32 {
          width: 62px;
          height: 55px;
          background-image: url(../images/ribbon-32.png); }
        .box-wrap .page-box-2 .ribbon-wrap .ribbon.ribbon-33 {
          width: 37px;
          height: 57px;
          background-image: url(../images/ribbon-33.png); }
        .box-wrap .page-box-2 .ribbon-wrap .ribbon.ribbon-34 {
          width: 10px;
          height: 9px;
          background-image: url(../images/ribbon-34.png); }

@-webkit-keyframes shake {
  10% {
    -webkit-transform: translate(-50%, 0) rotate(2deg);
    transform: translate(-50%, 0) rotate(2deg); }
  20% {
    -webkit-transform: translate(-50%, 0) rotate(-2deg);
    transform: translate(-50%, 0) rotate(-2deg); }
  30% {
    -webkit-transform: translate(-50%, 0) rotate(2deg);
    transform: translate(-50%, 0) rotate(2deg); }
  40% {
    -webkit-transform: translate(-50%, 0) rotate(-2deg);
    transform: translate(-50%, 0) rotate(-2deg); }
  50% {
    -webkit-transform: translate(-50%, 0) rotate(1deg);
    transform: translate(-50%, 0) rotate(1deg); }
  60% {
    -webkit-transform: translate(-50%, 0) rotate(-1deg);
    transform: translate(-50%, 0) rotate(-1deg); }
  70% {
    -webkit-transform: translate(-50%, 0) rotate(1deg);
    transform: translate(-50%, 0) rotate(1deg); }
  80% {
    -webkit-transform: translate(-50%, 0) rotate(-1deg);
    transform: translate(-50%, 0) rotate(-1deg); }
  90% {
    -webkit-transform: translate(-50%, 0) rotate(0deg);
    transform: translate(-50%, 0) rotate(0deg); }
  100% {
    -webkit-transform: translate(-50%, 0) rotate(0deg);
    transform: translate(-50%, 0) rotate(0deg); } }
@keyframes shake {
  10% {
    -webkit-transform: translate(-50%, 0) rotate(2deg);
    transform: translate(-50%, 0) rotate(2deg); }
  20% {
    -webkit-transform: translate(-50%, 0) rotate(-2deg);
    transform: translate(-50%, 0) rotate(-2deg); }
  30% {
    -webkit-transform: translate(-50%, 0) rotate(2deg);
    transform: translate(-50%, 0) rotate(2deg); }
  40% {
    -webkit-transform: translate(-50%, 0) rotate(-2deg);
    transform: translate(-50%, 0) rotate(-2deg); }
  50% {
    -webkit-transform: translate(-50%, 0) rotate(1deg);
    transform: translate(-50%, 0) rotate(1deg); }
  60% {
    -webkit-transform: translate(-50%, 0) rotate(-1deg);
    transform: translate(-50%, 0) rotate(-1deg); }
  70% {
    -webkit-transform: translate(-50%, 0) rotate(1deg);
    transform: translate(-50%, 0) rotate(1deg); }
  80% {
    -webkit-transform: translate(-50%, 0) rotate(-1deg);
    transform: translate(-50%, 0) rotate(-1deg); }
  90% {
    -webkit-transform: translate(-50%, 0) rotate(0deg);
    transform: translate(-50%, 0) rotate(0deg); }
  100% {
    -webkit-transform: translate(-50%, 0) rotate(0deg);
    transform: translate(-50%, 0) rotate(0deg); } }
.active-prize {
  width: 243px;
  height: 72px;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 2;
  background-image: url(../images/prize.png);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: 243px 72px;
  background-size: 243px 72px;
  text-indent: -9999px;
  overflow: hidden;
  opacity: 0;
  cursor: pointer; }

.barrage-wrap {
  width: 100%;
  height: 800px;
  position: relative;
  z-index: 1; }
  .barrage-wrap span {
    position: absolute;
    left: 100%;
    top: 0; }
    .barrage-wrap span.barrage-rocket {
      top: 100px; }
    .barrage-wrap span.barrage-1 {
      top: 200px; }
    .barrage-wrap span.barrage-2 {
      top: 255px; }
    .barrage-wrap span.barrage-3 {
      top: 308px; }
    .barrage-wrap span.barrage-4 {
      top: 355px; }
    .barrage-wrap span.barrage-5 {
      top: 420px; }
    .barrage-wrap span.barrage-6 {
      top: 470px; }
    .barrage-wrap span.barrage-7 {
      top: 520px; }
    .barrage-wrap span.barrage-8 {
      top: 575px; }
    .barrage-wrap span.barrage-9 {
      top: 615px; }
    .barrage-wrap span.barrage-10 {
      top: 670px; }
    .barrage-wrap span.barrage-bird {
      top: 740px; }
    .barrage-wrap span img {
      width: auto;
      height: auto; }

.barrage-help {
  position: absolute;
  top: 50%;
  left: 150%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 2; }
  .barrage-help.shadow {
    -webkit-box-shadow: 13px 11px 23px 4px rgba(14, 5, 11, 0.2);
    -moz-box-shadow: 13px 11px 23px 4px rgba(14, 5, 11, 0.2);
    box-shadow: 13px 11px 23px 4px rgba(14, 5, 11, 0.2); }

.barrage-card {
  position: absolute;
  top: 50%;
  left: 150%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
  margin-top: 120px;
  z-index: 2; }
  .barrage-card.shadow {
    -webkit-box-shadow: 13px 11px 23px 4px rgba(14, 5, 11, 0.2);
    -moz-box-shadow: 13px 11px 23px 4px rgba(14, 5, 11, 0.2);
    box-shadow: 13px 11px 23px 4px rgba(14, 5, 11, 0.2); }

.hand {
  width: 131px;
  height: 136px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 32px;
  margin-left: 180px;
  background-image: url(../images/hand.png);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: 131px 136px;
  background-size: 131px 136px;
  opacity: 0;
  z-index: 3; }
  .hand.show {
    -webkit-animation: click 1s infinite ease-in-out;
    animation: click 1s infinite ease-in-out; }

@keyframes click {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  70% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px); }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }
.page2-icon {
  width: 488px;
  height: 85px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -244px;
  background-image: url(../images/page2-icon.png);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: 488px 85px;
  background-size: 488px 85px; }

.popup-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: none; }
  .popup-wrap .popup {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-position: center bottom;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    display: none; }
    .popup-wrap .popup.popup-prize {
      background-position: center center;
      background-image: url(../images/prize-details.jpg); }
    .popup-wrap .popup.popup-share {
      background-position: center top;
      background-image: url(../images/share.png); }
    .popup-wrap .popup.popup-card, .popup-wrap .popup.popup-code {
      overflow: hidden;
      background-image: url(../images/card-bg.jpg); }
  .popup-wrap .heart-wrap {
    text-align: center;
    width: 100%;
    height: 130px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .popup-wrap .heart-wrap span {
      width: 156px;
      height: 127px;
      display: inline-block;
      margin: 0 20px;
      background-position: center center;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      background-image: url(../images/heart-w.png); }
    .popup-wrap .heart-wrap.total-1 .heart-1 {
      background-image: url(../images/heart-r.png); }
    .popup-wrap .heart-wrap.total-2 .heart-1, .popup-wrap .heart-wrap.total-2 .heart-2 {
      background-image: url(../images/heart-r.png); }
    .popup-wrap .heart-wrap.total-3 .heart-1, .popup-wrap .heart-wrap.total-3 .heart-2, .popup-wrap .heart-wrap.total-3 .heart-3 {
      background-image: url(../images/heart-r.png); }
  .popup-wrap .btn-wrap {
    width: 100%;
    height: 210px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: 180px; }
    .popup-wrap .btn-wrap a {
      width: 369px;
      height: 89px;
      display: none;
      margin: 30px auto 0;
      -webkit-box-shadow: 8px 7px 11px 2px rgba(14, 5, 11, 0.2);
      -moz-box-shadow: 8px 7px 11px 2px rgba(14, 5, 11, 0.2);
      box-shadow: 8px 7px 11px 2px rgba(14, 5, 11, 0.2);
      background-position: center center;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      cursor: pointer; }
      .popup-wrap .btn-wrap a.light {
        background-image: url(../images/light.png); }
      .popup-wrap .btn-wrap a.get {
        background-image: url(../images/get.png); }

.popup-code img {
  display: block;
  position: absolute;
  width: 400px;
  height: auto;
  padding: 200px 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

#musicControl {
  position: fixed;
  left: 10px;
  top: 20px;
  margin-top: 0;
  display: none;
  z-index: 9999; }
  #musicControl a {
    display: block;
    width: 52px;
    height: 52px;
    overflow: hidden;
    background-position: center center;
    -webkit-background-size: 100%;
    background-size: 100%; }
    #musicControl a.stop {
      background: url(../images/stop.png) no-repeat; }
    #musicControl a.on {
      background: url(../images/on.png) no-repeat;
      -webkit-animation: reverseRotataZ 1.2s linear infinite;
      animation: reverseRotataZ 1.2s linear infinite; }

@-webkit-keyframes reverseRotataZ {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg); }
  100% {
    -webkit-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg); } }
@keyframes reverseRotataZ {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg); }
  100% {
    -webkit-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg); } }
.loading-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center bottom;
  position: relative;
  background-image: url(../images/page-2-bg.jpg);
  overflow: hidden; }

.loading {
  background-image: url(../images/icon_loading.gif);
  background-size: 32px 32px;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px; }
  .loading.center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.percent {
  color: #fff;
  font-size: 30px;
  text-align: center;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 40px; }

/*# sourceMappingURL=style.css.map */
